<div class="navbar">
  <div class="nav">
    <div class="logo">
      <img src="/assets/img/Emerald-logo.png" alt="" />
    </div>
    <div class="nav_List">
      <ul>
        <li>
          <a href="https://emeraldstay.com/covid-19">COVID-19</a>
        </li>
        <li>
          <a href="https://emeraldstay.com/lease-your-property">Homeowners</a>
        </li>
        <li>
          <a href="https://emeraldstay.com/blog">Blog</a>
        </li>
        <li>
          <a href="https://emeraldstay.com/contact-us">Contact Us</a>
        </li>

      </ul>

    </div>
  </div>

</div>
<div class="video">
    <video style="width: 100%" class=" hero__background-video module8-video-desktop" playsinline="" autoplay="" loop="" muted="">
      <source 
        data-src-video="https://a.storyblok.com/f/95246/x/5696078d8d/homepage_emerald_stay_desktop.mp4" 
        type="video/mp4" 
        src="https://a.storyblok.com/f/95246/x/5696078d8d/homepage_emerald_stay_desktop.mp4">
    </video>
</div>
<div class="content">
  <h1>
    The New Getaway
  </h1>
  <h2>
    Exclusive properties. À la carte hotel services.
    <br>
    An avant-garde experience.
  </h2>

</div>
